html{
    background-image: url('https://thumbs.dreamstime.com/b/fundo-do-jogo-do-pixel-85535813.jpg');
    background-size: cover
;
    height: 100%;
    width: 100%;
    margin: auto;
    

}
.Score{
display: flex;
justify-content: flex-end;
margin-right: 20px;

font-size: xx-large;
font-weight: bold;
}